<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel = "stylesheet" href="/css/style.css">
    <title>임시용 웹페이지</title>
</head>
<style>
 body{
  background-image: url('/img/Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  </style>
  <body>
    <div class="main-container">
      <div class="main-wrap">
        <form action="/user/make" method="post">
          <section class="login-input-section-wrap">
            <div class="login-input-wrap">
              <input placeholder="ID" name="create_ID" type="text"></input>
              </div>
              <div class="login-input-wrap password-wrap">
                <input placeholder="Password" name="create_Password" type="password"></input>
                </div>
                <div class="login-button-wrap">
                  <td><input type="submit" value="Create Account"></td>
                  </div>
            </section>
      </div>
    </div>
    </form>
   </body>
</html>
